*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #ED3237;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #ED3237;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #b30000;
}