*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #ddbfc1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d26868;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #ddbfc1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #d26868;
}